#例外文件
*.iml
*/src/test/

#系统配置文件
/.idea/*

config-server/target/
eureka-server/target/
manage-server/target/

/dataSources/
/.ideaDataSources/
SpringCloud.ipr
SpringCloud.iws
util-server/src/main/resources/
